<div class="footer-modal">
    <div class="student student-img1">
        <div class="student-float">
            <p class="student-text">Name, work, address</p>
        </div>
    </div>
    <div class="student student-img2">
        <div class="student-float">
            <p class="student-text">Name, work, address</p>
        </div>
    </div>
    <div class="student">
        <div class="student-float">
            <p class="student-text">Name, work, address</p>
        </div>
    </div>
    <div class="student student-img4">
        <div class="student-float">
            <p class="student-text">Name, work, address</p>
        </div>
    </div>
    <div class="student student-img5">
        <div class="student-float">
            <p class="student-text">Name, work, address</p>
        </div>
    </div>
    <div class="student">
        <div class="student-float">
            <p class="student-text">Name, work, address</p>
        </div>
    </div>
</div>