<div class="footer-text">
    <p class="footer-p">© 2020 <span class="footer-top-span">| All Rights Reserved |</span> </p>
    <div class="footer-bot-text">
        <span class="footer-bot-text1">Developed with</span>
        <svg class="footer-svg">
            <use href="./images/sprite.svg#like"></use>
        </svg>
        by
        <button type="button" class="footer-btn" data-action="search" id="footer-btn">
            GoIT Students
        </button>
    </div>
</div>