<div class="header-nav">
    <div id='header-logo' class='header-logo'>
        <svg class="header-logo-icon">
            <use href="{{this}}#film"></use>
        </svg>
        <h1 class="header-logo-name">Filmoteka</h1>
    </div>

    <div class="header-nav-form">
        <button id='home' class='lbr-button lbr-button-active'>Home</button>
        <button id='my-library' class='lbr-button'>my library</button>
    </div>

</div>

<div class="header-search-block">
    <div id="header-search-form">
        <form class="header-search-form" action="">
            <input class='header-search-form-input' type="text" placeholder="Поиск фильмов" name="query" />

            <svg class="search-icon">
                <use href="{{this}}#search-2"></use>
            </svg>
        </form>
    </div>
    <div id='lbr-buttons' class='is-hidden'>
        <button id='watched' class='btn-base'>Watched</button>
        <button id='queue' class='btn-base'>queue</button>
    </div>
</div>