<div id='auth-div' class="auth-nav-registr">

    <form action="" id='auth-form' name='auth' class="form-reg">
        <input type="text" name="name" id='name-imput' placeholder="Login name" class="input-registr is-hidden"
            pattern="[A-Za-z]{2,}\s[A-Za-z]{2,}">
        <input type="email" name="email" placeholder="Email" class="input-registr"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        <input type="password" name='password' placeholder="Password" class="input-registr" required>


        <button type="submit" id='auch-get' class="btn-base btn-mod-header">log in</button>
        <button type="submit" id='auch-open' class="btn-base btn-mod-header">Register</button>
        <button type="submit" id='auch-send' class="btn-base is-hidden btn-mod-header">Register</button>
        <button type="submit" id='back' class="btn-base is-hidden btn-mod-header">back</button>

    </form>

</div>