<div id='auth-div' class="auth-nav-registr">
    {{!-- <form action="" id='auth-form' name='auth' class=""> --}}
        <div class="btn-box-get-out auth-nav-registr-form">

        </div>
        {{!-- <div class="registr-box"> --}}
            {{!-- <div class="input-box-registr"> --}}

                <form action="" id='auth-form' name='auth'>
                    <input type="text" name="name" id='name-imput' placeholder="Login name"
                        class="input-registr is-hidden">
                    <input type="text" name="email" placeholder="Email" class="input-registr">
                    <input type="text" name='password' placeholder="Password" class="input-registr">

                    <button type="submit" id='auch-get' class="auth-get">войти</button>

                    <button type="submit" id='auch-open' class="auth-send">Не зарегистрирован</button>
                    <button type="submit" id='auch-send' class=" auth-send is-hidden">Зарегистрироваться</button>
                    <button type="submit" id='back' class="auth-send is-hidden">Вернуься</button>
                </form>

                {{!--
            </div> --}}

            {{!-- </div> --}}
        {{!--
    </form> --}}
</div>