<div id='auth-div' class="auth-nav-registr">

    <form action="" id='auth-form' name='auth' class="form-reg">
        <input type="text" name="name" id='name-imput' placeholder="Login name" class="input-registr is-hidden">
        <input type="text" name="email" placeholder="Email" class="input-registr">
        <input type="text" name='password' placeholder="Password" class="input-registr">


        <button type="submit" id='auch-get' class="btn-base btn-mod-header">log in</button>
        <button type="submit" id='auch-open' class="btn-base btn-mod-header">Register</button>
        <button type="submit" id='auch-send' class="btn-base is-hidden btn-mod-header">Register</button>
        <button type="submit" id='back' class="btn-base is-hidden btn-mod-header">back</button>

    </form>

</div>