<div id='auth-div' class="auth-nav-registr">
        <form action="" id='auth-form' name='auth' class="auth-nav-registr-form">
           <div class="btn-box-get-out">
                 <button type="submit" id='auth-send' class="btn-base auth-send">зарегистрироваться</button>
           </div>
            <div class="registr-box">
                <div class="input-box-registr">
                    <input type="text" name="name" placeholder="Login name" class="input-registr">
                    <input type="text" name="email" placeholder="Email" class="input-registr">
                    <input type="text" name='password' placeholder="Password" class="input-registr">
                </div>
                 <button type="submit" id='auth-get' class="btn-base auth-get">войти</button>
            </div>
        </form>
</div>
