<div>
    <form action="">
        <select id="">
            {{#each this}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
        <button id='search-form-btn'>
            search
        </button>
    </form>
</div>