// Palette
$main-text-color: #000000;
$footer-text-color: #545454;
$accent-color: #ff6b08;
$active-btn-color: #ff6b01;
$background-footer-color: #f7f7f7;
$err-text-color: #ff001b;
$header-text-color: #ffffff;
$color-text-modal: #8c8c8c;
