.btn-header-aut {
  position: absolute;
  top: 20px;
  right: 40%;

  @include for-size(mobile) {
    right: 25%;
  }
  @include for-size(tablet) {
    right: 15%;
  }
  @include for-size(desktop) {
    right: 10%;
  }

  & .btn-modal-registr {
    margin-right: 10px;
  }
}

.auth-nav-registr {
  display: flex;
  justify-content: center;
  width: 85vw;
  min-height: 30vh;

  background: linear-gradient($header-text-color, $color-text-modal);

  @include for-size(mobile) {
    max-width: 350px;
  }

  .form-reg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 100%;

    .auth-send {
      margin-left: auto;
      padding: 0;
      width: 60px;
      color: $main-text-color;
      border: none;

      &:hover,
      &:focus {
        transform: scale(1.05);
        color: $active-btn-color;
        outline: none;
      }
    }

    .input-registr {
      padding: 5px;
      width: 100%;

      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 0.5px solid $main-text-color;
      background: transparent;

      &::placeholder {
        color: rgba($color: #000000, $alpha: 0.5);
      }

      &:focus {
        outline: none;
      }
    }
    .input-registr:not(:first-child) {
      margin-top: 20px;
    }

    .auth-get {
      display: block;
      margin-top: 50px;
      margin-right: auto;
      margin-left: auto;
      width: 100px;
      color: $main-text-color;
      border: none;
      outline: none;

      @include for-size(desktop) {
        margin-top: 40px;
      }

      &:hover,
      &:focus {
        transform: scale(1.05);
        color: $active-btn-color;
      }
    }
  }
}
