// .backdrop {
//   background: rgba(0, 0, 0, 0.25);

//   overflow: auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding-top: 20px;
//   padding-bottom: 20px;
// }

.modal {
  max-width: 280px;
  height: 100vh;
  overflow: scroll;

  margin-top: 80px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 40px;

  background-color: #fff;

  @include for-size(tablet) {
    max-width: 618px;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    overflow: auto;
  }

  @include for-size(desktop) {
    max-width: 882px;
    margin-bottom: 100px;
    // overflow: hidden;
  }
}

// .close_btn {
//   position: absolute;
//   top: 18px;
//   right: 18px;
//   margin-bottom: 16px;
//   width: 20px;
//   height: 20px;
// }

// .modal_svg {
//   width: 14px;
//   height: 14px;
//   fill: black;
// }

.modal_poster {
  @include for-size(tablet) {
    margin-right: 32px;
  }

  @include for-size(desktop) {
    margin-right: 30px;
  }
}

.modal_img {
  border-radius: 5px;
  margin-bottom: 30px;
  max-width: 240px;

  @include for-size(tablet) {
    max-width: 264px;
    max-height: 373px;

    margin-bottom: 0px;
  }

  @include for-size(desktop) {
    max-width: 396px;
    max-height: 480px;
  }
}

.title_modal {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;
  @include for-size(desktop) {
    font-size: 30px;
    line-height: 1.16;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

.modal_list_item {
  display: flex;

  margin-bottom: 10px;
}

.modal_item_title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $color-text-modal;

  display: inline-block;
  width: 80px;
  margin-right: 20px;
  @include for-size(desktop) {
    margin-right: 85px;
  }
}

.item_data {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
}

.vote_averege {
  width: 36px;
  height: 16px;
  background: $accent-color;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  padding: 1px;
  margin-right: 3px;
}

.vote_count {
  width: 36px;
  height: 16px;

  background: #f7f7f7;
  border-radius: 5px;
  text-align: center;
  padding: 1px;
  margin-left: 3px;
}

.about_title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.overview {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  margin-bottom: 20px;
}

.btn_items {
  display: flex;
  justify-content: space-between;
  @include for-size(desktop) {
    justify-content: space-around;
  }
}

.btn_items > .btn-base {
  margin-right: 15px;
}

.btn_items > .btn-base:last-child {
  margin-right: 0;
}

.btn_items > .btn-base {
  color: #000;
  border: 1px solid #000;
  outline: none;

  &:hover,
  &:focus {
    color: #fff;
    border: none;
    background-color: $active-btn-color;
    transform: scale(1.05);
  }
}
