// font-family: Roboto;
// font-style: normal;
// font-weight: 500;
// font-size: 12px;
// line-height: 16px;

.tui-pagination .tui-page-btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
}

.tui-pagination .tui-page-btn.tui-is-selected {
  color: #fff;
  background: #ff6b08;
  border-radius: 5px;
  //   border-color: #ff6b08;
  cursor: default;
}
