.header-start {
  background-color: rgba(0, 0, 0, 0.56);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bcg-mob.jpg);

  @include for-size(tablet) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bcg-tablet.jpg);
  }

  @include for-size(desktop) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bcg-desktop.jpg);
  }
}

.header-lbr {
  background-color: rgba(0, 0, 0, 0.56);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bcg-lbr-mob.jpg);

  @include for-size(tablet) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bcg-lbr-tablet.jpg);
  }

  @include for-size(desktop) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bcg-lbr-desktop.jpg);
  }
}

header .containet {
  height: 230px;
}

.header-logo {
  display: flex;
}

.header-logo-icon {
  height: 24px;
  width: 24px;
}
.header-logo-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  color: $header-text-color;
}

.header-nav-form {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: $header-text-color;
}

.header-search-form {
  display: flex;
  flex-direction: row;
  width: 280px;
  margin: 0 auto;
  padding: 4px;

  @include for-size(tablet) {
    width: 336px;
  }
}

.header-search-form-input {
  // border-style: none;
  // background: transparent;
  // outline: none;
}

.search-icon {
  height: 12px;
  width: 12px;
}
